*{
    padding: 0;
    margin: 0;
}

.main-div{
    max-width: 1140px;
    margin: 100px auto;
}

.p-div{
    margin-top: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading{
    margin: 20px 0px 10px 0px;
    font-size: 25px;
}

.main-p{
    width: 70%;
    text-align: center;
    font-size: 17px;
    margin: 0px 0px 10px 0px;
}